{
  "parser": "babel-eslint",
  "globals": {
    "console": true,
    "fetch": true,
    "module": true,
    "require": true,
  },
  "rules": {
    "array-bracket-spacing": 1,
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": 1,
    "comma-dangle": [0, "always-multiline"],
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": 1,
    "consistent-this": [1, "self"],
    "curly": [2, "multi-line"],
    "eqeqeq": [2, "allow-null"],
    "eol-last": 2,
    "guard-for-in": 0,
    "indent": [2, 2],
    "key-spacing": 0,
    "new-cap": [1, {"capIsNew": false, "newIsCap": true}],
    "new-parens": 0,
    "no-bitwise": 0,
    "no-cond-assign": 1,
    "no-console": 2,
    "no-constant-condition": 1,
    "no-delete-var": 2,
    "no-debugger": 1,
    "no-dupe-keys": 2,
    "no-duplicate-case": 1,
    "no-empty-character-class": 1,
    "no-eval": 2,
    "no-ex-assign": 1,
    "no-extend-native": 1,
    "no-extra-parens": 0,
    "no-floating-decimal": 1,
    "no-func-assign": 0,
    "no-implied-eval": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-labels": 0,
    "no-lonely-if": 1,
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-native-reassign": 2,
    "no-negated-in-lhs": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-octal": 2,
    "no-plusplus": 0,
    "no-proto": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 0,
    "no-spaced-func": 1,
    "no-sparse-arrays": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 1,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-undef": 2,
    "no-undefined": 0,
    "no-undef-init": 1,
    "no-underscore-dangle": 0,
    "no-unreachable": 2,
    "no-use-before-define": [1, "nofunc"],
    "no-warning-comments": [0, {"terms": ["todo", "fixme"]}],
    "object-curly-spacing": 1,
    "quotes": [1, "single", "avoid-escape"],
    "quote-props": [0, "as-needed"],
    "radix": 1,
    // Use this rule, if you consider JavaScript semicolons as superfluous:
    // "semi": [1, "never"],
    "semi": [1, "never"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],
    "strict": [0, "never"],
    "use-isnan": 1,
    "valid-typeof": 1,
    "vars-on-top": 0,  // disabled for now, see github.com/eslint/eslint/issues/2099
    "wrap-iife": [1, "inside"],
    "yoda": 0,
    // Node.js specific
    "handle-callback-err": [1, "^(err|error)$"],
    "no-mixed-requires": 1,
    "no-new-require": 1,
    "no-path-concat": 1,
    // React
    // Not needed. "react/display-name": 1,
    "react/jsx-boolean-value": 0,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    // Not ready yet. "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
